<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="/images/logo.png" type="image/png" />
    <title>Toys Universe</title>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-left">
        <img src="/images/logo.png" alt="Logo" class="navbar-logo" />
        <a href="/" class="navbar-item">Toys Universe</a>
      </div>
      <div class="navbar-right"></div>
    </div>

    <div class="welcome-section">
      <div class="overlay"></div>
      <h1 class="welcome-text">
        Welcome to Toys Univers!
        <p class="description-text">
          The perfect place to discover a variety of educational and fun toys
        </p>
      </h1>
    </div>

    <div class="category-section">
      <div class="category-header">
        <h2>Categories</h2>
        <a href="/add-category" class="add-category-button">Add new category</a>
      </div>
      <div class="categories-container">
        <% categories.forEach((category) => { %>
            <div class="category-card">
                <h3><a href="/category/<%= category.id %>"><%= category.name %></a></h3>
                <p><%= category.numToys %> toys</p>
            </div>
        <% }) %>
    </div>
    </div>

    <div class="recent-toys-section">
      <h2>Latest toys added:</h2>
      <div class="recent-toys-container">
        <% recentToys.forEach((toy) => { %>
          <div class="toy-card">
            <h3><%= toy.title %></h3>
            <p><%= toy.dateAdded %></p>
            <a href="/toy/<%= toy.id %>">View toy</a>
          </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
